# Compiled class file
*.class

# Log file
*.log

# IDE files
#IntelliJ
# Add any directories, files, or patterns you don't want to be tracked by version control  
/.metadata/  
.classpath  
.editorconfig  
.factorypath  
.gitattributes  
.idea/codeStyles/  
.idea/inspectionProfiles/  
.idea/modifysf.iml  
.idea/modules.xml  
.idea/typescript-compiler.xml  
.idea/workspace.xml  
.mvn/  
.project  
.settings/  
README.md  
mvnw.cmd  
node/  
node_modules/  
package-lock.json  
src/main/webapp/assets/sf/manifest.json  
src/main/webapp/assets/sumfox-logo-167x33-Copy.png  
target/  
yarn.lock  
/.idea/jsLibraryMappings.xml  
/.idea/libraries/tsconfig_roots.xml  
/.vscode/settings.json  
/out/production/main/com/eclinso/sumfox/config/MethodSecurityConfiguration.txt  
/src/main/main.iml  
/.idea/misc.xml  
/.idea/libraries  
.idea  
libraries  

#Eclipse
.classpath  
.editorconfig  
.factorypath  
.gitattributes  
.project  
.settings/  
bin/  
  
target/  
# maven project related ignore files and directories  
.mvn/  
target/  
# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
